        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    
          <a class="navbar-brand" href="#/">E.E. Alcalina</a>
      
    </div>

    <div class="navbar-header navbar-right">
    
       <a ng-href="/WWWROOT/index.html#/{{mec.usuario.perfil}}" class="navbar-brand">{{mec.nome}}</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
       <form class="navbar-form navbar-right">
        
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    

         <div class="form-group">
          <button type="button" class="btn btn-default" ng-show="mec.isProfessor()" ng-click="mec.addNota()" >Adicionar nota</button>
        </div> 
     
         <div class="form-group">
          <button type="button" class="btn btn-default" ng-show="mec.isProfessor()" ng-click="mec.addAluno()" >Adicionar aluno</button>
        </div> 
       
         <button type="submit" class="btn btn-default"  ng-click="mec.logout()" >Logout</button>
 
        </form>
     
    </div>
  </div>
</nav>